<app-navbar></app-navbar>
<div class="mat-elevation-z8">

  <mat-form-field fxFlex="50%">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Search columns" #input>
  </mat-form-field>
  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="nachname">
      <th mat-header-cell *matHeaderCellDef> Nachname </th>
      <td mat-cell *matCellDef="let element"> {{element.nachname}} </td>
    </ng-container>

    <ng-container matColumnDef="vorname">
      <th mat-header-cell *matHeaderCellDef> Vorname </th>
      <td mat-cell *matCellDef="let element"> {{element.vorname}} </td>
    </ng-container>

    <ng-container matColumnDef="anrede">
      <th mat-header-cell *matHeaderCellDef> Anrede </th>
      <td mat-cell *matCellDef="let element"> {{element.anrede}} </td>
    </ng-container>

    <ng-container matColumnDef="telefon">
      <th mat-header-cell *matHeaderCellDef> Telefon </th>
      <td mat-cell *matCellDef="let element"> {{element.telefon}} </td>
    </ng-container>

    <ng-container matColumnDef="adresse">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.adresse}} </td>
    </ng-container>

    <ng-container matColumnDef="aktione">
      <th mat-header-cell *matHeaderCellDef> Aktionen </th>
      <td mat-cell *matCellDef="let element"> <i target="_blank" class="bi bi-pencil" routerLink="/editkontakt/{{element.id}}"></i> <i target="_blank" class="bi bi-trash deleteStyle" (click)="delete(element.id)"></i> </td>
    </ng-container>

    <ng-container matColumnDef="userId">
      <th [hidden]="!isVisible" mat-header-cell *matHeaderCellDef> Besitzer </th>
      <td [hidden]="!isVisible" mat-cell *matCellDef="let element"> Von <span class="besit">{{element.userId}}</span> </td>
    </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>

<app-delete-kontakt [message]="message" ></app-delete-kontakt>

